            @media (max-width: 1200px) {
                .header {
                    justify-content: space-evenly;
                    margin: 0 50px;
                    align-items: center;
                }
                .promo__wrapper {
                    align-items: center
                }
                .benefits {
                    &__icons {
                        display: flex;
                        flex-direction: column;
                    }
                    &__wrapper {
                        margin-right: 0;
                    }
                }
            }
            
            @media (max-width: 767px) {
                .header {
                    align-items: center;
                    &__logo {
                        width: 30%;
                    }
                    &__phone {
                        font-size: 15px;
                    }
                }
                .button {
                    width: 135px;
                }
                .promo__icons {
                    justify-content: space-evenly;
                    width: 100%;
                }
            }
            
            @media (max-width: 575px) {
                .header {
                    margin: 0px auto;
                    flex-direction: column;
                    &__official {
                        position: absolute;
                        margin: 0 auto;
                        margin-top: 95px;
                    }
                    &__contacts {
                        .button {
                            margin-bottom: 50px;
                        }
                    }
                }
                .promo__header {
                    font-size: 33px;
                }
                .promo__subheader {
                    margin-top: 0;
                    font-size: 17px;
                }
                .button__main {
                    width: max-content;
                }
            }
            
            @media (max-width: 320px) {
                .header {
                    flex-direction: column;
                    &__logo {
                        img {
                            margin: 0 auto;
                        }
                    }
                    &__phone {
                        font-size: 15px;
                    }
                    &__official {
                        position: absolute;
                        margin: 0 auto;
                        margin-top: 90px;
                    }
                }
                .promo__header {
                    font-size: 15px;
                }
                .promo__subheader {
                    font-size: 14px;
                    text-align: center;
                }
                .promo__icons {
                    width: 100%;
                }
                .benefits {
                    &__text {
                        width: 70%;
                    }
                }
            }