    .benefits {
        min-height: 473px;
        padding: 73px 0 83px 0;
        background: #F6F6F6;
        &__icons {
            display: flex;
        }
        &__header {
            font-weight: 700;
            font-size: 30px;
            line-height: 30px;
            color: #0D0D0D;
            text-align: center;
        }
        &__wrapper {
            margin: 60px 65px 0 0;
            min-width: 273px;
            display: flex;
            flex-direction: column;
            align-items: center
        }
        &__subheader {
            margin-top: 35px;
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
            text-align: center;
        }
        &__text {
            margin-top: 20px;
            font-weight: 300;
            font-size: 13px;
            line-height: 18px;
            color: #0D0D0D;
            text-align: center;
            width: 85%;
        }
    }