.button {
    width: 153px;
    height: 32px;
    background: $main-color;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    &__main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 67px;
    }
    &_submit {
        width: 100%;
        height: 58px;
        font-size: 16px;
    }
}