.carousel {
    padding: 81px 0;
    &__inner {
        max-width: 750px;
        margin: 0 auto;
        position: relative;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        background: #FFFFFF;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
    .slick-dots {
        text-align: center;
        display: flex; // поставить кнопки в ряд
        justify-content: center; // выровнять по центру
        list-style: none; // убираем черные маркеры
    }
    .slick-dots button {
        font-size: 0;
        background: #db131377; // цвет фона
        height: 15px; // высота точки
        width: 15px; // ширина точки
        margin: 5px; // отступы между точками
    }
    .slick-dots li:nth-child(1) button {
        width: 8px;
        height: 8px;
    }
    .slick-dots li:nth-child(2) button {
        width: 8px;
        height: 8px;
    }
    .slick-dots li:nth-child(3) button {
        width: 8px;
        height: 8px;
    }
    .slick-dots li[class="slick-active"] button {
        background: #fffffe;
    }
}